<h1>Here's how!</h1>
<hr>
<div class='w3-container paragraph-container'>
    <p>My Gmail account is <b><img src="img/glyphicons_free/glyphicons-social/png/glyphicons-social-19-gmail.png" alt="e-mail-logo" /> rahmanshantanu69@gmail.com</b></p>
    <p>My GitHub account is <a href="https://github.com/shantanu69/"><b><img src="img/glyphicons_free/glyphicons-social/png/glyphicons-social-22-github.png" alt="github-logo" /> shantanu69</b></a></p>
    <p>My Facebook profile is <a href="https://www.facebook.com/shantanu.nerd"><b><img src="img/glyphicons_free/glyphicons-social/png/glyphicons-social-31-facebook.png" alt="facebook-logo" /> shantanu.nerd</b></a></p>
    <br>
    <p>I live in <b>Dhaka, Bangladesh</b>. A country of greeneries....</p>
</div>
