<h1>Hi!</h1>
<hr>
<div class='w3-container paragraph-container'>
    <p>If you couldn't say so, this is a page about me, myself and I (don't know about the grammar though)!</p>
    <p>I am <strong>Shantanu Rahman</strong>. I am programmer (of course). I like programming and mathematics. Math is cool! </p>
    <p>Programming is very cool!! I am mainly a problem-solver. (or aim to be a good one, at least) </p>
    <p>I have some experience in websites and web programming too. (as you can see!) </p>
    <p>I love to learn new things! New technology amazes me. And of course.... </p>
    <br>
    <p><strong>I <img src="/img/glyphicons_free/glyphicons/png/glyphicons-13-heart.png" alt="love" /> opensource!</strong></p>
</div>
